# in the com/foo/package
<html>
    <body>
        <h3>Hi ${name}, welcome to the Chipping Sodbury On-the-Hill message boards!</h3>

        <div>
            Your email address is <a href="mailto:${address}">${address}</a>.
        </div>
    </body>
</html>